{% extends '::base.html.twig' %}

{% block body -%}
   <h1 class="header-list">Horarios</h1>

    <table class="table-list table tabla-horarios">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dia</th>
                <th>Horainicio</th>
                <th>Horafin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('horario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.dia }}</td>
                <td>{{ entity.horainicio|date("H:i") }}</td>
                <td>{{ entity.horafin|date("H:i") }}</td>
                <td class="ancho-botones">
                <ul class="acciones-tb">
                    <li class="list-tb">
                        <a href="{{ path('horario_show', { 'id': entity.id }) }}">
                            <button class="btn btn-default">Ver</button>
                        </a>
                    </li>
                    <li class="list-tb">
                        <a href="{{ path('horario_edit', { 'id': entity.id }) }}">
                            <button class="btn btn-default">Editar</button>
                        </a>
                    </li>
                </ul>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

         <ul>
        <li class="list-tb opciones-horarios">
            <a href="{{ path('horario_new') }}">
                <button class="button-new btn btn-primary">Crear nuevo Horario</button>
            </a>
        </li>
       </ul>
    {% endblock %}
