{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/matrix/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
		{{ parent() }}
   
{% endblock %}

{% block body -%}
    <h1 class= "h1">Historial de cursos matriculados</h1> 
    <div class="col-md-4 text-center">
    <table class="records_list  table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Sigla</th>
                <th>Grupo</th>
                <th>Nota</th>
            </tr>
        </thead>
        <tbody>
        {% for e in reporte %}
            <tr>
                <td>{{ e.nombreCurso }}</td>
                <td>{{ e.sigla }}</td>
                <td>{{ e.numerogrupo }}</td>
                <td>{{ e.nota }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
      

{% endblock %}
