{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class="header-list">Curso-Correquisito</h1>

    <table class="table-list table">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cursoCorequisito_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                <ul>
                    <li class="list-tb">
                        <a href="{{ path('cursoCorequisito_show', { 'id': entity.id }) }}"><button class="btn btn-default">Ver</button></a>
                    </li>
                    <li class="list-tb">
                        <a href="{{ path('cursoCorequisito_edit', { 'id': entity.id }) }}"><button class="btn btn-default">Editar</button></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<ul>
        <li class="list-tb">
            <a href="{{ path('curso_new') }}"><button class="button-new btn btn-primary">Crear nuevo Curso</button></a>
        </li>
    </ul>
    {% endblock %}
