{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/matrix/css/form.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/matrix/css/styles.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
        {{ parent() }}
   
{% endblock %}

{% block body -%}

 <h1 class="header-list">Maya Curricular de la Carrera: {{ carrera.nombreCarrera }}</h1>
     <table class="records_list tabla-maya table table-striped">
    <thead>
        <tr>
            <th>Curso</th>
            <th>Requisitos</th>
            <th>Corequisitos</th>
        </tr>
    </thead>
    <tbody>
        {% for c in cursos %}
        <tr>
            <td>
                <a href="{{ path('curso_show', { 'id': c.id }) }}">
                    {{ c.sigla ~ ' - ' ~ c.nombreCurso }}
                </a>
            </td>
            <td>
            {% for r in requisitos %}
                {% if c.id == r.curso.id %}
                    {{ r.requisito }}
                {% endif %}
            {% endfor %}
            </td>
            <td>
            {% for cr in corequisitos %}
                {% if c.id == cr.curso.id %}
                    {{ cr.corequisito }}
                {% endif %}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}